@import "../../../assets/styles/global-variables.scss";

@keyframes slide-left {
  0% {
    display: none;
    transform: translate(100%, 0%);
  }
  1% {
    display: block;
  }
  100% {
    transform: translate(-50%, 0%);
  }
}

@keyframes slide-right {
  0% {
    display: block;
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, 100%);
  }
}

.page.wrap-up {
  padding-inline: 1em;
  position: absolute;
  z-index: 30;

  background-color: #fff;
  display: block;
  top: 0;
  // height: 100%;
  height: 100vh;
  left: 50%;
  width: 100vw;

  .wrap-up-page-content {
    overflow-y: scroll;
    height: 100%;
    padding-top: $header_height * 2;
  }

  &.visible {
    opacity: 1;
    transform: translate(-50%, -100%);
    pointer-events: all;
    animation: slide-left 0.5s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
  }

  &.not-visible {
    animation: slide-right 0.5s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
  }

  & > * {
    padding-bottom: 2em;
  }

  h1 {
    margin: auto;
    text-align: center;
  }

  .social-media-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    margin: auto;
    width: 80%;

    img {
      width: 2em;
    }
  }

  .external-links {
    * {
      padding: 0.1em 0;
      display: flex;
      flex-direction: column;
      font-family: $font_family--primary;
      text-transform: uppercase;
      font-size: 2em;
      text-decoration: none;

      color: $color_munch_green;
    }

    > a:hover {
      font-family: "Girott Munch Bold Slant";
    }
  }

  .events-wrapper {
    display: flex;
    flex-direction: column;

    h2 {
      font-family: $font_family--primary;
      font-size: 2em;
      text-transform: uppercase;
    }
  }

  .event {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin: 1em 0;
    height: 7em;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      bottom: -1em;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: gray;
    }

    h3 {
      font-family: $font_family--primary;
      text-transform: uppercase;
    }

    & .image-wrapper {
      overflow: hidden;
      height: 100%;
      max-height: 10em;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .event-info {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;

    h3 {
      margin-bottom: 1em;
    }
  }

  .back-button {
    // font-family: $font_family--primary;
    // font-size: 2em;
    // background: none;
    // border: none;
    // padding: 1em 0;
    color: #333;
    transition: color 0.3s ease;

    &:hover,
    &:active {
      color: red;
    }
  }

  .feedback {
    * {
      margin: 1em 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider-symbol {
    position: absolute;
    z-index: 2;
    font-size: 1.2em;
  }

  .slider-symbol-left {
    left: 90px;
    top: 54px;
  }

  .slider-symbol-right {
    right: 90px;
    top: 54px;
  }
}
