@import "../../../assets/styles/global-variables.scss";

.social-media-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  // border: 1px solid red;
}

.social-media-wrapper img {
  width: 2em;
}

.external-links * {
  padding: 0.5em 0 0.5em 0;
  display: flex;
  flex-direction: column;
  // align-items: center;
  font-family: $font_family--primary;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2em;
}

.external-links > a:hover {
  font-family: $font_family--primary-backslant;
}

.external-links a:visited {
  color: inherit;
}

.events-wrapper {
  display: flex;
  flex-direction: column;
  // border: 1px solid red;
}

.events-wrapper h2 {
  font-family: $font_family--primary;
  font-size: 2em;
  text-transform: uppercase;
}

.event {
  position: relative; /* Add relative positioning */
  // border: 1px solid green;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;
  margin-top: 1em;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: -1em; /* Position the line at the bottom */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: gray; /* Set the color of the line */
  }
}

.event h3 {
  font-family: $font_family--primary;
  text-transform: uppercase;
}

.event img {
  height: 7em;
}

.event-info {
  // border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Adjust to space evenly */
  padding: 1em;
}

.event-info h3 {
  margin-bottom: 1em; /* Add margin at the bottom of h3 */
}

.back-button {
  font-size: 2em; /* Adjust size as needed */
  background: none;
  border: none;
  // padding: 1em;
  color: #333; /* Adjust color as needed */
  transition: color 0.3s ease;
}

.back-button:hover {
  color: #666; /* Adjust hover color as needed */
}

.back-button:active {
  color: red; /* Adjust active color as needed */
}

.feedback * {
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // height: 100vh;
}
