@import "../../../assets/styles/global-variables.scss";

@keyframes slide-left-enter {
  0% {
    display: none;
    transform: translate(100%, 0%);
  }
  1% {
    display: block;
  }
  100% {
    transform: translate(0%, 0%);
    display: block;
  }
}

@keyframes slide-right-exit {
  0% {
    display: block;
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(100%, 0%);
  }
}

.page.comment-page {
  position: absolute;
  max-width: 50em;
  height: 100vh;
  top: 0;
  // background-color: #141414;
  background-color: #fff;
  z-index: 3;
  &.visible {
    opacity: 1;
    // transform: translate(-50%, 100%);
    pointer-events: all;
    // border: 2px solid red;
    animation: slide-left-enter 0.5s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
  }

  &.not-visible {
    animation: slide-right-exit 0.5s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
  }
}

.comment-form {
  display: flex;
  border-radius: 0.5em;
  overflow: hidden;
  height: 3.5em;
  background-color: #fff;

  & textarea {
    padding: 1em;
    width: 100%;
    border: none;
    resize: none;
    font-family: $font_family--secondary;
  }
}
.submit-comment-button,
.back-button {
  width: 5em;
  height: 100%;
  border: none;
  object-fit: cover;
  // border-radius: 3em;
  padding: 1em;
  background-color: transparent;

  // box-shadow: 0em 0em 1em #fff;

  & > img {
    width: 100%;
    height: 100%;
  }
  & > img {
    width: 100%;
    height: 2em;
  }
}
.header {
  position: fixed;
  width: 100%;
  // box-shadow: 0 0 2em 0em #00000009;
  border-bottom: 0.1em solid rgba(222, 222, 222, 0.194);
  background-color: #fff;
}

.back-button {
  & img {
    transform: rotate(90deg);
  }
}

.comment-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  & .comment-list {
    padding-inline: 1em;
    padding-top: 6em;
    height: 100%;
    overflow-y: scroll;
  }
  & .comment-form {
    box-shadow: 0 0 5em #00000018;
    margin-top: auto;
  }
}

.comment:not(:last-of-type) {
  border-bottom: 0.01em solid rgba(222, 222, 222, 0.194);
}
.comment {
  margin-block: 1em;

  &-list {
  }
  & .date {
    font-size: 0.7em;
    text-align: right;
    margin-block: 0.8em;
    color: rgb(162, 162, 162);
  }
  & .text {
  }
}

.details-wrapper {
  display: flex;
  justify-content: space-between;
  & .likes-wrapper {
    display: flex;
    align-items: center;

    & .likes-button {
      object-fit: cover;
      width: 1.3em;
      padding: 0em;
      margin-right: 0.5em;
      border: none;
      background-color: transparent;
      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
