@import "../../../assets/styles/global-variables.scss";

.front-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  max-height: 100vh;
  overflow: hidden;
  min-width: 300px;
}

.logo-container {
  text-align: center;
  padding-top: 10em;
}

.logo {
  font-family: "Girott Munch Bold Backslant";
  font-size: min(max(22vw, 2em), 7em);
  opacity: 0;
  padding-left: 0.25em;
}

.logo-text-top {
  transform: translateX(-9%);
  animation: slideInFromLeft 0.5s forwards cubic-bezier(0.5, 1.56, 0.31, 0.89);
  animation-delay: 0.5s;
}

.logo-text-bottom {
  transform: translateX(10%);
  animation: slideInFromRight 0.5s forwards cubic-bezier(0.5, 1.56, 0.31, 0.89);
  animation-delay: 0.5s;
}

.sub-heading-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.3em;
  padding: 1.5em;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-130%);
    opacity: 0;
  }
  100% {
    transform: translateX(-9%);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(130%);
    opacity: 0;
  }

  100% {
    transform: translateX(9%);
    opacity: 1;
  }
}

.sub-heading-container > * {
  margin: 1em;
  opacity: 0;
  transform: translateX(130%);
  animation: slideInFromRight2 0.5s cubic-bezier(0.5, 1.56, 0.31, 0.89) forwards;
}

@keyframes slideInFromRight2 {
  0% {
    transform: translateX(130%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.sub-heading-container > :nth-child(1) {
  animation-delay: 1s;
}

.sub-heading-container > :nth-child(2) {
  animation-delay: 1.2s;
}

.submit-button-wrapper {
  padding-bottom: 2em;
  margin-inline: auto;
  opacity: 0;
  animation: slideUpButton 0.3s cubic-bezier(0.5, 1.56, 0.31, 0.89) forwards;
  animation-delay: 1.5s;
}

.submit-button {
  margin-top: 0;
  margin-bottom: auto;
}

@keyframes slideUpButton {
  0% {
    transform: translateY(70%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 100;
  }
}
