@import "../../../assets/styles/global-variables.scss";

@keyframes slide-up {
  0% {
    display: none;
    transform: translate(-50%, 100%);
    height: 200%;
  }
  1% {
    display: block;
  }
  100% {
    transform: translate(-50%, 0%);
    height: 200%;
  }
}

@keyframes slide-down {
  0% {
    display: block;
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, 100%);
  }
}

.page.painting {
  max-width: 50em;
  border-radius: 0.5em 0.5em 0em 0em;
  // overflow-y: scroll;

  width: 100%;
  position: absolute;
  display: none;
  top: 0;
  left: 50%;
  height: 100vh;
  // height: 150%;
  opacity: 0;
  transform: translate(-50%, 100%);
  pointer-events: none;
  transition: opacity 0.4s, transform 0.55s cubic-bezier(0.51, 0.92, 0.24, 1);
  z-index: 10;

  &.visible {
    display: block;
    opacity: 1;
    transform: translate(-50%, 0%);
    pointer-events: all;
    animation: slide-up 0.5s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
  }

  &.not-visible {
    animation: slide-down 0.5s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
  }

  * {
    color: #cbcbcb;
  }

  .painting-content-wrapper {
    height: 100vh;
    overflow-y: scroll;
    // padding-top: $header_height;
  }

  .page-header {
    background-color: transparent;
  }

  & nav {
    // padding: 1em;
    // margin: 0.6em;
    // position: absolute;
    // backdrop-filter: blur(10px);
    // // border-radius: 2em;
    // position: fixed;
    // padding: 0.1em;
    // width: 100%;
    // overflow: hidden;
  }

  & button {
    width: $icon_size--big;
    height: $icon_size--big;
    border: none;
    object-fit: cover;
    border-radius: 3em;
    // background-color: #ffffffe7;
    // background-color: transparent;
    // box-shadow: 0em 0em 1em #fff;

    & > img {
      width: 100%;
    }
  }

  & .image-wrapper {
    width: 100%;
    height: 20em;

    & img {
      box-shadow: 0em 0em 10em 1em rgb(0, 0, 0);
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  & .content {
    // background-color: #ffffff88;
    padding: 1em;
    position: relative;
  }

  & .image-reflection {
    height: 4em;
    position: absolute;
    width: 100%;
    left: 0;
    top: -1em;
    background-size: cover;
    background-position: 50% 200%;
    filter: blur(1.5em) opacity(0.5);
    transform: rotate(180deg);
    z-index: 0;
  }

  & section {
    margin: 1em 0.4em;
    background-color: #00000043;
    // background-color: #ffffffe3;
    padding: 1em;
    border-radius: 0.2em;
    backdrop-filter: blur(200px);
    & * {
      line-height: 1.3em;
    }
  }

  & h2 {
    font-family: $font_family--primary;
    font-size: 3.5em;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    letter-spacing: 0.02em;
    color: $color_munch_red;
  }

  & h3 {
    font-size: 0.8em;
    margin-bottom: 1em;
    color: $color_munch_gold;
  }
}

.comments {
  .comment:not(:last-child) {
    // border-top: 0.01em solid rgb(140, 140, 140);
  }
  .comment {
    margin-block: 1em;

    &-list {
    }
    & .date {
      font-size: 0.7em;
      margin-left: auto;
      margin-block: 0.8em;
      color: rgb(162, 162, 162);
    }
    & .text {
    }
  }

  .add-comment-button {
    margin-top: 1em;
    background-color: transparent;
    border: 0.2em solid $color_munch_gold;
    padding: 1em;
    cursor: pointer;
    transition: all 0.15s;
    &:hover {
      transform: skewX(-10deg);
    }
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 130%;
  background-size: contain;

  &.image {
    background-image: url("https://source.unsplash.com/random");
    background-position: 20% 20%;
    background-size: cover;

    filter: blur(100px) saturate(1.2) opacity(0.6);
    z-index: -1;
  }
  &.color {
    background-color: rgb(0, 0, 0);
    z-index: -2;
  }
}
