@import "../../../assets/styles/global-variables.scss";

.progress-bar {
  height: 0.5em;
  background-color: rgb(34, 156, 255);
  border-radius: 10em;
  transition: all 0.2s ease;
  width: var(--progress-width, 0%);
  &-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(227, 227, 227);
  }
  &-wrapper {
    position: relative;
    border: 1px solid red;
  }
}

.stop-indicator {
  width: 0.9em;
  height: 0.9em;
  margin: auto;
  border-radius: 1em;
  background-color: #eee;
  border: 0.15em solid #777;
  cursor: pointer;
  transition: all 0.2s ease-out;
  &.previous {
    background-color: $color_text--secondary;
    width: 0.7em;
    height: 0.7em;
    border: none;
  }
  &.current {
    width: 1em;
    height: 1em;

    background-color: $color_munch_red;
    border: none;
    border: 0.15em solid $color_munch_red;
  }
  &-wrapper {
    width: 1em;
    height: 1em;
    display: flex;
  }
}

.current-stop-section {
  border: 1px solid red;
  display: flex;
  & img {
    border: 1px solid green;
    width: 3em;
    height: 3em;
  }
}

.journey-stop-item {
  position: relative;
}

.item-preview {
  // position: absolute;
  border: 1px solid blue;
  display: flex;
  opacity: 1;
  transition: opacity 0.25s ease-out;
  &.fade-out {
    opacity: 0;
  }
  & img {
    border: 1px solid green;
    width: 3em;
    height: 3em;
  }
}
