@import "./global-variables.scss";

h1,
.title {
  font-family: $font_family--primary;
  text-transform: uppercase;
  font-size: $font_size--title;
}

h2,
h3,
h4,
h5,
h6,
p,
label,
small,
body {
  font-family: $font_family--secondary;
  font-size: $font_size--body;
  font-weight: lighter;
  color: $color_black;
}

h2 {
  font-size: $font_size--heading;
}

h3 {
  font-size: $font_size--subheading;
}

label,
small {
  font-size: $font_size--label;
}

.page-header {
  height: $header_height;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: $mobile_width--min;
  top: 0;
  left: 0;
  background-color: $color_white;
  border-bottom: 0.1em solid #dedede33;
  box-shadow: 0 0 2em 0em #00000009;
  z-index: 10;

  & .heading {
    margin: auto;
  }

  & .item-left {
    display: flex;
    align-items: center;
    position: absolute;
  }
}

.App {
  height: 100vh;
  // overflow: hidden;
}

.page {
  // position: absolute;
}
