/*

--- INDEX ---

_____ 1 _____
-- 1 Font
- 1.1 Family
- 1.2 Size
_____ 2 ______
-- 2 Color
- 2.1 General

*/

/* TEMMP */
.temp-header {
  text-align: center;
  border: 0.3em solid red;
  background-color: #222222;

  & * {
    margin: 0.4em;
    color: #ffdbab;
    text-decoration: none;
  }
  & ul {
    display: flex;
    flex-flow: row wrap;
  }
}

/* ---------- [1] FONT ---------- */

/* --- FAMILY --- */
@font-face {
  font-family: "Girott Munch Bold";
  src: url(../fonts/GirottMunch-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Girott Munch Bold Backslant";
  src: url(../fonts/GirottMunch-BoldBackslant.woff2) format("woff2");
}

@font-face {
  font-family: "Girott Munch Bold Slant";
  src: url(../fonts/GirottMunch-BoldSlant.woff2) format("woff2");
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: url(../fonts/Aktiv-Grotesk-Regular.woff) format("woff")
    font-weight-normal;
}

$font_family--primary-backslant: "Girott Munch Bold Backslant";
$font_family--primary: "Girott Munch Bold";
$font_family--secondary: "Aktiv Grotesk";

/* --- SIZE --- */
$font_size--title: 2em;
$font_size--heading: 1em;
$font_size--subheading: 1.1em;
$font_size--body: 1em;
$font_size--label: 0.8em;

/* ---------- [2] COLOR ---------- */

/* --- GENERAL --- */
$color_white: #fff;
$color_black: #000;

$color_munch_red: #e94c2a;
$color_munch_green: #264540;
$color_munch_pink: #dfa699;
$color_munch_navy: #112234;
$color_munch_gold: #988359;

$color_primary: #009689;
$color_secondary: #a8d3cf;
$color_tertiary: #000;
$color_background: #ffffff;
$color_border: #dddddd;
$color_success: #27ae60;
$color_error: #c0392b;
$color_disabled: #cccccc;

$color_text--primary: #111;
$color_text--secondary: #333;

/* ---------- [3] IMAGES ---------- */
$icon_size--big: 3em;
$icon_size--small: 1em;

/* ---------- [4] ELEMENTS ---------- */
$header_height: 3em;
$mobile_width--min: 300px;
$mobile_width--max: 900px;
